In [1]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm
import pickle

In [2]:
filename = []

for file in os.listdir('t20s'):
    filename.append(os.path.join('t20s',file))

In [3]:
filename[0:5]

['t20s\\1001349.yaml',
 't20s\\1001351.yaml',
 't20s\\1001353.yaml',
 't20s\\1004729.yaml',
 't20s\\1007655.yaml']

In [4]:
final_data = pd.DataFrame()
counter=0
for file in tqdm(filename):
    with open(file,'r') as f:
        df = pd.json_normalize(safe_load(f))
        df['match_id'] = counter
        final_data=final_data.append(df)
        counter+=1

100%|█████████████████████████████████████████████████████████████████████████████▉| 1432/1433 [05:46<00:00,  4.14it/s]

NotImplementedError:

In [5]:
'''
three backups

backup
final_data
backup_1
'''

'\nthree backups\n\nbackup\nfinal_data\nbackup_1\n'

In [6]:
backup = final_data.copy()
backup_1 = backup.copy()

In [7]:
final_data.iloc[0]

innings                        [{'1st innings': {'team': 'Australia', 'delive...
meta.data_version                                                            0.9
meta.created                                                          2017-02-18
meta.revision                                                                  2
info.dates                                                          [2017-02-17]
info.gender                                                                 male
info.match_type                                                              T20
info.outcome.by.wickets                                                      5.0
info.outcome.winner                                                    Sri Lanka
info.overs                                                                    20
info.player_of_match                                             [DAS Gunaratne]
info.teams                                                [Australia, Sri Lanka]
info.toss.decision                                                         field
info.toss.winner                                                       Sri Lanka
info.umpires                                              [MD Martell, P Wilson]
info.venue                                              Melbourne Cricket Ground
match_id                                                                       0
info.city                                                                    NaN
info.outcome.by.runs                                                         NaN
info.match_type_number                                                       NaN
info.neutral_venue                                                           NaN
info.outcome.method                                                          NaN
info.outcome.result                                                          NaN
info.outcome.eliminator                                                      NaN
info.supersubs.New Zealand                                                   NaN
info.supersubs.South Africa                                                  NaN
info.bowl_out                                                                NaN
info.outcome.bowl_out                                                        NaN
Name: 0, dtype: object

In [8]:
final_data.drop(columns = ['info.outcome.by.runs','info.match_type_number',
                          'info.neutral_venue','info.outcome.method', 'info.outcome.result',
                          'info.outcome.eliminator','info.supersubs.New Zealand','info.supersubs.South Africa',
                          'info.bowl_out','info.outcome.bowl_out','meta.data_version','meta.created',
                          'meta.revision'],inplace=True)

In [9]:
final_data.shape

(1432, 15)

In [10]:
final_data.iloc[1]

innings                    [{'1st innings': {'team': 'Australia', 'delive...
info.dates                                                      [2017-02-19]
info.gender                                                             male
info.match_type                                                          T20
info.outcome.by.wickets                                                  2.0
info.outcome.winner                                                Sri Lanka
info.overs                                                                20
info.player_of_match                                         [DAS Gunaratne]
info.teams                                            [Australia, Sri Lanka]
info.toss.decision                                                     field
info.toss.winner                                                   Sri Lanka
info.umpires                                           [SD Fry, SJ Nogajski]
info.venue                                    Simonds Stadium, South Geelong
match_id                                                                   1
info.city                                                           Victoria
Name: 0, dtype: object

In [11]:
final_data.head()

,innings,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],male,T20,5.0,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,0,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],male,T20,2.0,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",1,Victoria
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],male,T20,NaN,Australia,20,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,2,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],male,T20,NaN,Hong Kong,20,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",3,Londonderry
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],male,T20,NaN,Zimbabwe,20,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,4,NaN

In [12]:
final_data['info.gender'].value_counts()

male      966
female    466
Name: info.gender, dtype: int64

In [13]:
final_data = backup[backup['info.gender']=='male']

In [14]:
final_data['info.gender'].value_counts()

male    966
Name: info.gender, dtype: int64

In [15]:
final_data.drop(columns=['info.gender'],inplace=True)

C:\Users\Shree\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [16]:
final_data.head()

,innings,meta.data_version,meta.created,meta.revision,info.dates,info.match_type,info.outcome.by.wickets,info.outcome.winner,info.overs,info.player_of_match,...,info.outcome.by.runs,info.match_type_number,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.supersubs.New Zealand,info.supersubs.South Africa,info.bowl_out,info.outcome.bowl_out
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,[2017-02-17],T20,5.0,Sri Lanka,20,[DAS Gunaratne],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,[2017-02-19],T20,2.0,Sri Lanka,20,[DAS Gunaratne],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-23,1,[2017-02-22],T20,NaN,Australia,20,[A Zampa],...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2016-09-12,1,[2016-09-05],T20,NaN,Hong Kong,20,NaN,...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,[2016-06-18],T20,NaN,Zimbabwe,20,[E Chigumbura],...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
final_data['info.match_type'].value_counts()

T20    966
Name: info.match_type, dtype: int64

In [18]:
final_data['info.overs'].value_counts()

20    963
50      3
Name: info.overs, dtype: int64

In [19]:
final_data = final_data[final_data['info.overs'] == 20]
final_data

,innings,meta.data_version,meta.created,meta.revision,info.dates,info.match_type,info.outcome.by.wickets,info.outcome.winner,info.overs,info.player_of_match,...,info.outcome.by.runs,info.match_type_number,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.supersubs.New Zealand,info.supersubs.South Africa,info.bowl_out,info.outcome.bowl_out
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,[2017-02-17],T20,5.0,Sri Lanka,20,[DAS Gunaratne],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,[2017-02-19],T20,2.0,Sri Lanka,20,[DAS Gunaratne],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-23,1,[2017-02-22],T20,NaN,Australia,20,[A Zampa],...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2016-09-12,1,[2016-09-05],T20,NaN,Hong Kong,20,NaN,...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,[2016-06-18],T20,NaN,Zimbabwe,20,[E Chigumbura],...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-03-05,2,[2016-03-04],T20,6.0,Pakistan,20,[Umar Akmal],...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",0.9,2016-03-08,1,[2016-03-06],T20,8.0,India,20,[S Dhawan],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Netherlands', 'deli...",0.9,2016-02-03,1,[2016-02-03],T20,NaN,Netherlands,20,[Mudassar Bukhari],...,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2016-09-12,1,[2016-09-06],T20,NaN,Australia,20,[GJ Maxwell],...,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-09-12,1,[2016-09-09],T20,4.0,Australia,20,[GJ Maxwell],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
final_data.drop(columns=['info.match_type','info.overs'] ,inplace=True)
final_data

,innings,meta.data_version,meta.created,meta.revision,info.dates,info.outcome.by.wickets,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,...,info.outcome.by.runs,info.match_type_number,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.supersubs.New Zealand,info.supersubs.South Africa,info.bowl_out,info.outcome.bowl_out
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,[2017-02-17],5.0,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,[2017-02-19],2.0,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-23,1,[2017-02-22],NaN,Australia,[A Zampa],"[Australia, Sri Lanka]",field,...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2016-09-12,1,[2016-09-05],NaN,Hong Kong,NaN,"[Ireland, Hong Kong]",bat,...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,[2016-06-18],NaN,Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",field,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-03-05,2,[2016-03-04],6.0,Pakistan,[Umar Akmal],"[Pakistan, Sri Lanka]",field,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",0.9,2016-03-08,1,[2016-03-06],8.0,India,[S Dhawan],"[Bangladesh, India]",field,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Netherlands', 'deli...",0.9,2016-02-03,1,[2016-02-03],NaN,Netherlands,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,...,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2016-09-12,1,[2016-09-06],NaN,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",field,...,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-09-12,1,[2016-09-09],4.0,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",bat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
final_data.head()

,innings,meta.data_version,meta.created,meta.revision,info.dates,info.outcome.by.wickets,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,...,info.outcome.by.runs,info.match_type_number,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.supersubs.New Zealand,info.supersubs.South Africa,info.bowl_out,info.outcome.bowl_out
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,[2017-02-17],5.0,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,[2017-02-19],2.0,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-23,1,[2017-02-22],NaN,Australia,[A Zampa],"[Australia, Sri Lanka]",field,...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2016-09-12,1,[2016-09-05],NaN,Hong Kong,NaN,"[Ireland, Hong Kong]",bat,...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,[2016-06-18],NaN,Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",field,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
final_data.to_csv('dataset_level_1.csv',index=False)

In [23]:
final_data.head()

,innings,meta.data_version,meta.created,meta.revision,info.dates,info.outcome.by.wickets,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,...,info.outcome.by.runs,info.match_type_number,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.supersubs.New Zealand,info.supersubs.South Africa,info.bowl_out,info.outcome.bowl_out
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,[2017-02-17],5.0,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,[2017-02-19],2.0,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-23,1,[2017-02-22],NaN,Australia,[A Zampa],"[Australia, Sri Lanka]",field,...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2016-09-12,1,[2016-09-05],NaN,Hong Kong,NaN,"[Ireland, Hong Kong]",bat,...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,[2016-06-18],NaN,Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",field,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:

pickle.dump(final_data , open('dataset_level_1.pkl','wb'))

In [26]:
matches = pickle.load(open('dataset_level_1.pkl','rb'))
matches

,innings,meta.data_version,meta.created,meta.revision,info.dates,info.outcome.by.wickets,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,...,info.outcome.by.runs,info.match_type_number,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.supersubs.New Zealand,info.supersubs.South Africa,info.bowl_out,info.outcome.bowl_out
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,[2017-02-17],5.0,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,[2017-02-19],2.0,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-23,1,[2017-02-22],NaN,Australia,[A Zampa],"[Australia, Sri Lanka]",field,...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2016-09-12,1,[2016-09-05],NaN,Hong Kong,NaN,"[Ireland, Hong Kong]",bat,...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,[2016-06-18],NaN,Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",field,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-03-05,2,[2016-03-04],6.0,Pakistan,[Umar Akmal],"[Pakistan, Sri Lanka]",field,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",0.9,2016-03-08,1,[2016-03-06],8.0,India,[S Dhawan],"[Bangladesh, India]",field,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Netherlands', 'deli...",0.9,2016-02-03,1,[2016-02-03],NaN,Netherlands,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,...,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2016-09-12,1,[2016-09-06],NaN,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",field,...,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-09-12,1,[2016-09-09],4.0,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",bat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
matches.head()

,innings,meta.data_version,meta.created,meta.revision,info.dates,info.outcome.by.wickets,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,...,info.outcome.by.runs,info.match_type_number,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.supersubs.New Zealand,info.supersubs.South Africa,info.bowl_out,info.outcome.bowl_out
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,[2017-02-17],5.0,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,[2017-02-19],2.0,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-23,1,[2017-02-22],NaN,Australia,[A Zampa],"[Australia, Sri Lanka]",field,...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2016-09-12,1,[2016-09-05],NaN,Hong Kong,NaN,"[Ireland, Hong Kong]",bat,...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,[2016-06-18],NaN,Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",field,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN